<ul class="animal-list">
  <li *ngFor="let animal of animals; let i = index">
    <div attr.data-designmode="cards/animal{{i}}"
         class="animal-card animal-card-app">
      <h3 [innerHtml]="animal.title || 'Insert animal name'"></h3>
      <img src="{{animal.filePath || 'img/placeholder/img.png'}}" alt="{{animal.title}}" >
      <p [innerHtml]="animal.description || 'Insert animal description'"></p>
    </div>
  </li>
</ul>
<div class="button-list">
  <button *ngFor="let link of links; let i = index"
          class="link-button"
          routerLink={{link.href}}
          attr.data-designmode="links/link{{i}}"
          routerLinkActive="active" >{{link.text || 'Insert link'}}</button>
</div>